body {
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#menu{
    width: 100%;
    position: absolute;
    background-color: #2a9cfe24;
}
#menu_ul{
    list-style-type: none;
    margin-right: 20px;
    float: right;
}
#menu_ul_li{
    float: left;
    margin: 10px;
    font-size: 18px;
    color: #3C3C3C;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#introduction{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
#first_heading{
    font-size: 72px;
    text-transform: uppercase;
    font-weight: 700;
}
#first_image{
    width: 40%;
    float: right;
    margin: 5%;
    margin-top: 100px;
}
.image{
    width: 100%;
}
.details{
    margin-bottom: 60px;
    margin-top: -30px;
}
.button{
    padding: 10px 30px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    background: linear-gradient(0deg, #FF8063 -28.33%, #F46060 95.83%);
    border-radius: 6px;
}
#second_image{
    width: 40%;
    float: left;
    margin: 5%;
    margin-top: 250px;
}
#about{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 80px;
}
#about_div{
    width: 40%;
    float: right;
    margin-left: 5%;
    padding: 2%;
}

#project_heading{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    margin-left: -180px;
    position: center;
    padding-top: 300px;
}
.card_1{
    width: 20%;
    margin-left: 120px;
    margin-right: 60px;
    height: 320px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px rgba(141, 140, 140, 0.705);
    background-color: white;
    float: left;
    margin-top: 80px;
}
.card_2{
    width: 20%;
    height: 320px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px rgba(141, 140, 140, 0.705);
    margin-right: 60px;
    background-color: white;
    float: left;
    margin-top: 80px;
}.card_3{
    width: 20%;
    margin-right: 80px;
    height: 320px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px rgba(141, 140, 140, 0.705);
    background-color: white;
    float: left;
    margin-top: 80px;
}
.card_image{
    width: 90%;
    margin: 5%;
}
.card_heading{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
}
.card_description{
    padding-left: 15px;
    color: rgb(34, 34, 34);
    font-size: 12px;
    padding-bottom: 20px;
    line-height: 20px;
}
#message{
    width: 906px;
    height: 225px;
    float: left;
    margin-left: 180px;
    margin-top: 100px;
    margin-bottom: 100px;
}
#message_image{
    width: 100%;
    height: 100%;
}
#message_heading{
    margin-top: -190px;
    font-size: 42px;
    color: white;
    padding: 50px;
    text-transform: uppercase;
}
#message_button{
    margin-top: -130px;
    margin-left: 750px;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: rgba(238, 255, 0, 0.897);
    position: relative;
}
.button_style{
 text-decoration: none;
}